node_modules/
dist/
target/
uploads/
.idea/
*.iml
.DS_Store
.env
*.log
software-engineering/
.factorypath
__pycache__/
*.pyc
~$*
*.7z
docs/
scripts/
实验8/
backend/src/main/resources/application-dev.yml